<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - FlexStart Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- vendor-files CSS Files -->
  <link href="assets/vendor-files/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor-files/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor-files/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor-files/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor-files/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor-files/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span>PolyGen Test</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto " href="/before-test">Before Your Test</a></li>
          <li><a class="nav-link scrollto" href="/results">Results</a></li>
          <li><a class="nav-link scrollto active" href="/faqs">FAQs</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/book-now">Book Now</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <main id="main">

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq" style="margin-top: 100px;">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  How do I get Tested?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  With all of our tests you will need to Book Online and pay. You can book a test the same day or book in advance. You will receive a confirmation email (containing your Passenger Locator Number) and a receipt.<br><br>
                  You have the option at booking to collect from our partner laboratory in Cambridge. If you select courier, for Nationwide delivery, for all PCR tests we will then send out a courier (DPD) who will deliver your swab. You should then activate your kit and return this using the instructions provided to our laboratory for testing. You will receive the results within 24Hrs of receipt at the lab. For the Fit to Fly you and Test to Release you will receive a certificate confirming your result which you will either need to take with you to the airport or which will allow you to end your quarantine.  <br><br>
                  If returning from Green countries you will need to conduct a Day 2 test and if returning from Amber countries you will need to conduct a Day 2 and 8 test, unless fully vaccinated with an approved vaccine in the UK, EU, US or EFTA and have had your last dose 14 days before departure to the UK, you can take a Fully Vaccinated Day 2 Amber Test Only. Test to Release (Day 5) is optional for Amber Countries and can allow you to reduce your 10 Day quarantine. You should book this separately from your Day 2 and 8 test to ensure delivery on the correct day.<br><br>
                  You need to read the section Before Your Test in advance of your appointment to make sure you have everything you need.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  What Tests Do I Need for Green and Amber Countries?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  For green countries you need to take a Day 2 PCR test when you arrive back from your destination country. You will still need to take a PCR test before you fly out (PCR Fit to Fly) and will still need to take a departure test in your destination country before you travel back.<br><br>
                  <h5 style="color: #2A9D8F; ">Amber Countries:</h5>
                  <h6 ><u>Unvaccinated</u></h6>
                  For Amber countries you need to take Day 2 & 8 PCR tests when you arrive back from your destination country. You will still need to take a PCR test before you fly out (PCR Fit to Fly) and will still need to take a departure test in your destination country before you travel back.
                  <br><br>
                  <h6 ><u>Vaccinated</u></h6>
                  If you have had both vaccines on the NHS in the UK or one approved by the EMA in the EU, the FDA in the US, the EMA in the EFTA or Swissmedic in Switzerland then you can have a Fully Vaccinated Day 2 Only test. You should go to the panel Fully Vaccinated Amber Arrivals and click "Book Now £55" then go to the order form and at the second page, select test type, select "International Travel Day2 Fully Vaccinated (NHS, EU Member States and US)"<br><br>
                  You also still have the option of taking a Day 5 PCR test (Test to Release) when you are home to release yourself from your quarantine early.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  What Tests Do You Offer?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  We offer a full range of PCR Home Tests and now also site testing. This includes the PCR Test Only, PCR Fit to Fly and PCR Test to Release and Day 2 and 8 Tests for Green and Amber countries. These all offer you the ability to obtain a gold standard antigen test for SARS-CoV-2 in the comfort of your own home with professional laboratory testing. Alternatively you can use our site for unsupervised self-swabs. We plan to offer Lateral Flow and Antibody Home Testing soon so check back for updates.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  How Do I Book My Test?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  To book your test simply go to Book Online where you can select the type of PCR test you require, choose a delivery time and day that suits you and book for multiple people at once. You will receive a confirmation email (with Passenger Locator Number) and receipt. For site testing click on the links on the home page for Amber countries or green countries.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  How Much Does It Cost?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  The tests cost £55 for a PCR Test Only, £55 for a PCR Fit to Fly, £55 for a PCR Test to Release, £55 for a Fully Vaccinated Day 2 Test Only and £98 for a Day 2 & 8 Test. These all include laboratory analysis and free home delivery. The PCR Fit to Fly also includes a Fit to Fly certificate, whereas the PCR Test to Release includes a Test to Release Certificate. For unsupervised site testing it costs £20 for a Day 2 test and £20 for a Day 2 and 8 test.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  What Happens After I Book?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  After you book your test a courier will be sent out to you according to the delivery day you selected (for Fit to Fly) and on your day 1 for Day 2 and Day 2 & 8 tests. They will then provide you with the swab kit. You should self-swab using the instructions provided before sending back the the swab to our laboratory for analysis. For site testing you will be sent details on what to do when you arrive.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  What Is a PCR Test?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  A PCR test amplifies the viral RNA, specifically the viral N gene of the SARS-CoV-2 virus. PCR stands for Polymerase Chain Reaction and is used by the NHS as the gold standard of antigen detection to determine active infection and therefore cases of Covid-19 disease
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  Do you Offer Fit to Fly?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Yes. When you buy a PCR Fit to Fly Home Test you will receive a Fit to Fly certificate, which, if you test negative can be presented to your airline and which will permit you to fly. You should still check the specific requirements of your airline and the country to which you are travelling.
                  ​<br><br>
                  You should also make sure you order your test in the specific time window that is allowed by the receiving country and your airline to make sure that it is accepted. Please note our tests can take up to 24 hours to get the results.
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                  Do you Offer Test to Release?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Yes. The test to release scheme is only applicable to non red list countries. If you enter from a non red list country then you may shorten your 10 day quarantine by taking an optional PCR test on day 5 of your quarantine. This will allow you to release yourself from quarantine after 5 days if the result is negative. <br><br>
                  You must still, however, conduct your day 2 and day 8 government PCR test whether or not you are able to release from quarantine by taking your optional private test on day 5.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                  Will Your Test Detect New Strains?
                </button>
              </h2>
              <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Yes. Our tests amplify regions of the Viral RNA that are highly conserved and as such are less mutable. Therefore the detection process tests for sequence common to the conventional SARS-CoV-2 virus and new strains.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  Are you a Government Approved Test Provider?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  We have submitted our application for UKAS registration for ISO standard 15189.<br><br>
                  We also comply with submitting all of our results to Public Health England.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  Where Do you Deliver?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  We now deliver Nationwide. This is to mainland UK and excludes Ireland. We use DPD Next Day, which provides you with real time tracking information, so that you can be sure your PCR Test is being delivered on time.<br><br>
                  In order to get your test Next Day please make sure you book by 12pm the day before you intend to receive your PCR Test.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  Can I Cancel My Test?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  You can cancel your test at any time. However, you will not be entitled to a refund if you cancel within 48 hours of having booked your test or within 48 hours of your selected test day. This is due to the costs incurred throughout our supply chain.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  Can I Book Multiple Home Tests for a Group?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Yes. You can book for any number of people. You will have to provide a delivery address and the details of each patient requiring a test. If you intend to book for a group of more than 5, please contact us so that we can arrange for multiple tests to be sent out. You can also receive a 5% discount on more than 5 tests.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  I am an Employer. Do you Provide Tests for Businesses?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Yes. We can organise corporate and occupational testing for your business. Please contact us and we can arrange to deliver tests to your workplace that will allow you to test your employees at once and get fast turnaround times, so that you can have peace of mind that your workplace is covered.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                  What if I Test Positive?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  If you test positive you should self quarantine along with the government guidelines and we will report your results to NHS Test and Trace along with Public Health England.
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

</section><!-- End F.A.Q Section -->


  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Get in touch today</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
        </div>
        <div class="col-lg-6">
          <form action="https://formspree.io/f/xwkawdzy" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span>PolyGen Test</span>
          </a>
          <p>By offering the NHS recommended gold standard PCR you can determine if you have an active infection of Covid-19.</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>HOME TESTS</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">PCR Test Only</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">PCR Fit to Fly</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">PCR Test to Release</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">PCR Day 2 & 8 Tests</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Day 2 and 8 Testing</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Green Arrival Pack</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Amber Arrival Pack</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Fully Vaccinated Amber Arrivals</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Fit to Fly</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Test to Release</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong>  info@polygentest.co.uk<br>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span> PolyGen Test</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://sualsoft.com/">S U A L SOFT</a>
    </div>
  </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- vendor-files JS Files -->
  <script src="assets/vendor-files/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor-files/aos/aos.js"></script>
  <script src="assets/vendor-files/php-email-form/validate.js"></script>
  <script src="assets/vendor-files/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor-files/purecounter/purecounter.js"></script>
  <script src="assets/vendor-files/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor-files/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>